.categories-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.categories-container {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  overflow: auto;
  padding-bottom: 0.3rem;
  scrollbar-color: rgba(255, 255, 255, 0.75) rgba(0, 0, 0, 0);
}

.category {
  display: flex;
  align-items: center;
  background-color: var(--very-dark-blue);
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
}

.category-name {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.category > i {
  font-size: 2rem;
  color: var(--dark-cream);
  left: 1rem;
}

.category:hover {
  filter: brightness(140%);
  cursor: pointer;
}

.categories-container::-webkit-scrollbar {
  height: 0.4rem;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.2rem;
}

.categories-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.categories-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

@media (hover: none) {
  .categories-container::-webkit-scrollbar {
    display: none;
  }
}
