.categories-nav {
  background-color: #004866;
}

.categories-nav-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.categories-nav-header {
  border-bottom: 0.1rem solid #dfc67d;
  width: fit-content;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.nav-category-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 8rem);
  column-gap: 0.5rem;
  white-space: nowrap;
}

.nav-category {
  background-color: #dfc67d;
  border-radius: 1rem;
  font-weight: 400;
  padding: 0.2rem 0.5rem;
}
