.categories-nav {
  --blue: #004866;
  background-color: var(--almost-black);
  scrollbar-color: rgba(255, 255, 255, 0.75) rgba(0, 0, 0, 0);
}

.nav-category-list {
  margin: 0;
  padding: 0;
  column-gap: 0.5rem;
  white-space: nowrap;
  position: relative;
  overflow: auto;
  display: flex;
  padding-bottom: 0.5rem;
}

.nav-category {
  list-style: none;
}

.nav-category-button {
  font-family: Ubuntu;
  background-color: var(--dark-cream);
  border: 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.nav-category-button.active {
  box-sizing: border-box;
  --dark-cream: #d5b454;
  background-color: var(--dark-cream);
  border-bottom: 2px solid white;
}

.nav-category-list::-webkit-scrollbar {
  height: 0.4rem;
}

.nav-category-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.2rem;
}

.nav-category-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.nav-category-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

@media (min-width: 700px) {
  .nav-category-list {
    margin-bottom: 0.7rem;
  }
}

@media (hover: none) {
  .nav-category-list::-webkit-scrollbar {
    display: none;
  }
}
