.main-header {
  --very-dark-blue: #002433;
  background-color: var(--very-dark-blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.2rem solid var(--very-light-blue);
  width: 100%;
}

.header-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7em;
  align-items: center;
  column-gap: 1rem;
  display: flex;
  position: relative;
}

.text-logo {
  font-size: 1.6rem;
}

.blue {
  color: var(--very-light-blue);
}

.search-bar-container {
  max-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: auto;
}

.search-bar {
  background-color: var(--very-light-blue);
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
  font-weight: 700;
  color: #001219;
  transition: width 0s;
}

.search-bar:focus {
  outline: 0.13rem solid white;
  width: 100%;
  transition: width 0.2s ease-in-out;
}

.search-icon {
  width: 1.4rem;
  color: white;
  margin-top: 0.25rem;
  margin-left: 0.3rem;
}

@media (any-pointer: fine) {
  .search-icon:hover {
    --cream: #e4dcc8;
    color: var(--cream);
  }
}

.header-buttons-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
}

.header-button {
  background-color: var(--very-light-blue);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
  height: 1.6rem;
  color: white;
  font-size: 1rem;
}

.create-quiz-button {
  border-radius: 2rem;
  width: 1.6rem;
  position: absolute;
  right: 2.5rem;
  /* display: none; */
}

.create-quiz-button:active {
  --very-light-blue: #b6e4df;
  width: 1.8rem;
  height: 1.8rem;
}

.create-quiz-button:active ~ .sign-in-button {
  margin-left: -0.2rem;
}

.sign-in-button {
  font-weight: 700;
  border-radius: 1rem;
  white-space: nowrap;
  height: 1.6rem;
  padding: 0 0.5rem;
  position: absolute;
  right: 0;
}

.sign-in-button:active {
  padding: 0 0.7rem;
  height: 1.8rem;
  --very-light-blue: #b6e4df;
  margin-left: -0.4rem;
}

@media (max-width: 350px) {
  .search-bar {
    display: none;
  }
}

@media (min-width: 305.1px) {
  .header-buttons-container {
    width: 10rem;
  }
  .create-quiz-button {
    right: 5.5rem;
  }
}
