body {
  background-color: #001219;
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 0;
  width: 100%;
  padding-top: 4rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */
