/* colors */

:root {
  --very-dark-blue: #001219;
  --blue: #005f73;
  --light-blue: #0a9396;
  --very-light-blue: #94d2bd;
  --cream: #e9d8a6;
  --orange: #ee9b00;
  --dark-orange: #ca6702;
  --very-dark-orange: #bb3e03;
  --red: #ae2012;
  --dark-red: #9b2226;
}

body {
  background-color: var(--very-dark-blue);
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 0;
  padding-top: 3.5rem;
  width: 100%;
}

.flex-container {
  display: flex;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */
