/* colors */

:root {
  --almost-black: #1a1a1d;
  --blue: #005f73;
  --light-blue: #0a9396;
  --very-light-blue: #94d2bd;
  --cream: #e9d8a6;
  --dark-cream: #cca053;
  --orange: #ee9b00;
  --dark-orange: #ca6702;
  --very-dark-orange: #bb3e03;
  --red: #ae2012;
  --dark-red: #9b2226;
  --very-dark-blue: #002433;
}

body {
  background-color: var(--almost-black);
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 0;
  padding-top: 3.5rem;
  width: 100%;
  height: 3000px;
}

:focus-visible {
  outline: 0.15rem solid white;
}

.flex-container {
  display: flex;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  scrollbar-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::selection {
  background-color: rgba(77, 104, 155, 0.7);
}

/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */
